%h1 Register

= simple_form_for @user, url: 'register', method: :post do |f|

  .form-inputs.col-md-6.col-sm-12
    = f.input :email, required:true
    = f.input :name, required:true
    = f.input :password, required:true
    = f.input :password_confirmation, required:true

  .form-actions
    = f.button :submit, 'Create User', class:"btn btn-outline-dark mt-2"
    = link_to 'Cancel', main_path, class:"btn btn-outline-dark mt-2"